DB_CONNECTION=mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false
TOKEN_SECRET=dhfsdgfjhsdjfsdf768738739857387!@@#$%$$^^&*&(*45678567845678rtyu56789cvbnmcvbnERTYUIOJHBBCDT%&^YUBMVYTT*&YOI VCGDSRDvbvdgjdfjke